<app-menu-top></app-menu-top>
<div class="ml-auto mb-6">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

  <mat-card class=" mx-8 my-8">
    <mat-card class="my-4">
      <div class=" flex justify-between">
        <mat-card-title>Liste des attribution des PoS aux agents</mat-card-title>
        <a routerLink="/agent-pos/create" mat-raised-button class=" bg-blue-900 text-white">Nouvelle</a>
      </div>
    </mat-card>
    <mat-form-field appearance="standard" class="px-2">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex.John Yoshua  " #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class = "mat-elevation-z8">
      <ng-container matColumnDef="agent">
        <th mat-header-cell *matHeaderCellDef> Agents </th>
        <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="pos">
        <th mat-header-cell *matHeaderCellDef> PoS </th>
        <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.description}}</td>
      </ng-container>

      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef> Statut </th>
        <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.statut?'Activer':'Désactiver'}}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" style="width: 20%;">
          <button *ngIf="element.statut"   mat-raised-button class=" bg-teal-800 text-white" (click)="confirmBox(element.id)" style="margin-right: 1%;">
            {{element.statut?'Désactiver':'Activer'}}
          </button>
          <p *ngIf="!element.statut">---</p>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
  </mat-card>
  </div>











