<app-menu-top></app-menu-top>
<div class="ml-auto mb-6">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

  <mat-card class=" mx-8 my-8">
    <mat-card class="my-4">
      <div class=" flex justify-between">
        <mat-card-title>Liste des contribuables</mat-card-title>
        <a routerLink="/contribuables/add" mat-raised-button class=" bg-blue-900 text-white">Nouveau</a>
      </div>
    </mat-card>
    <mat-form-field appearance="standard" class="px-2">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex.John Yoshua  " #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class = "mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Dénomination </th>
        <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.denomination}}</td>
      </ng-container>
      <ng-container matColumnDef="matricule">
        <th mat-header-cell *matHeaderCellDef> Matricule </th>
        <td mat-cell *matCellDef="let element" style="width: 10%;"> {{element.indication}}{{element.matricule}}</td>
      </ng-container>
      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> Téléphone </th>
        <td mat-cell *matCellDef="let element" style="width: 15%;"> {{element.telephone}}</td>
      </ng-container>
      <ng-container matColumnDef="adresse">
        <th mat-header-cell *matHeaderCellDef> Adresse </th>
        <td mat-cell *matCellDef="let element" style="width: 19%;"> {{element.adresse}}</td>
      </ng-container>
      <ng-container matColumnDef="historique">
        <th mat-header-cell *matHeaderCellDef> Historique </th>
        <td mat-cell *matCellDef="let element" style="width: 10%;"> 
          <button mat-raised-button *ngIf="element.statut==1" color="warn" (click)="historique(element.id)" style="margin-left: 1%;">
            Historique
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" style="width: 25%;">
          <button   mat-raised-button class=" bg-sky-800 text-white" (click)="Edit(element.id)" style="margin-right: 1%;">
            Fiche
          </button>
          <button   mat-raised-button class=" bg-teal-800 text-white" (click)="Edit(element.id)" style="margin-right: 1%;">
            Modifier
          </button>
          <button mat-raised-button *ngIf="element.statut==1" color="warn" (click)="confirmBox(element.id)" style="margin-left: 1%;">
            Désactiver
          </button>
          <button mat-raised-button *ngIf="element.statut==0" color="primary" (click)="confirmBox1(element.id)" style="margin-left: 1%;">
            Activer
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
  </mat-card>
  </div>












